@model Page
    
            <div class="tc-ch wow fadeInDown animated" data-wow-duration=".8s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">

                <div class="tch-img">
                    <a href="singlepage.html"><img src="~/ImageFile/@Model.ImageName" class="img-responsive" alt=""></a>
                </div>

                <h3>
                    <a href="singlepage.html">

                       @Model.Title
                    </a>
                </h3>
                <h6>
                    گروه<a href="singlepage.html">

                        @Model.PageGroup.GroupName
                    </a>
                </h6>
                <p>@Model.Text  </p>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                <h5>
                    @Model.CreateDate.ToShamsi()
                </h5>
                <div class="bht1">
                    <a asp-controller="News" asp-action="ShowNews" asp-route-id="@Model.id">
                        ادامه مطلب
                    </a>
                </div>
               
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
           
    
